apiVersion: v1
kind: Config
clusters:
  - name: apme-eap-cluster
    cluster:
      server: {{ openshift_api_url }}
{% if openshift_validate_certs | default(false) | bool %}
      certificate-authority-data: ""
{% else %}
      insecure-skip-tls-verify: true
{% endif %}
users:
  - name: apme-eap-user
    user:
      token: {{ openshift_token }}
contexts:
  - name: apme-eap
    context:
      cluster: apme-eap-cluster
      user: apme-eap-user
current-context: apme-eap
