---
apiVersion: controller.ansible.com/v1beta1
kind: AnsibleAutomationPlatformCredential
metadata:
  name: {{ project_name }}-aap
  namespace: {{ namespace }}
spec:
  name: "{{ project_name }}-aap"
  description: "{{ aap_credential_description | default('AAP Controller API credential for ' + project_name) }}"
  organization: "{{ organization | default('Default') }}"
  inputs:
    host: "{{ aap_host }}"
    username: "{{ aap_username }}"
    password: "{{ aap_password }}"
    verify_ssl: {{ aap_verify_ssl | default(false) | lower }}
