---
apiVersion: controller.ansible.com/v1beta1
kind: SourceControlCredential
metadata:
  name: {{ project_name }}-scm
  namespace: {{ namespace }}
spec:
  name: "{{ project_name }}-scm"
  description: "{{ credential_description | default('Git HTTPS credential for ' + project_name) }}"
  organization: "{{ organization | default('Default') }}"
  inputs:
    username: "{{ git_username | default('') }}"
    password: "{{ git_password | default('') }}"
